# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# IDE / Editor
.vscode/
.idea/
*.swp

# Temporary files
*.tmp
*.temp

# Lock files (optionnel si tu ne veux pas versionner)
# package-lock.json
# yarn.lock
